<ion-header>
  <ion-toolbar>
    <ion-title>Reparación Calidad De Copia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button (click)="onClickBackButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <div class="ion-content-custom">
    <div class="div-in-line">
      <ion-card style="background-color: rgb(181, 203, 244)">
        <ion-item color="primary">
          <ion-label>Polarización del Revelador</ion-label>
          <ion-icon slot="start" name="git-compare-outline"></ion-icon>
        </ion-item>
      
        <ion-card-content class="center_all">
         <ion-item class="ion-item-custom" >
          {{currentNode.value.statement}}
         </ion-item>
          <ion-item class="ion-item-custom">
            {{currentNode.value.question}}
          </ion-item  >
          <div *ngIf="currentNode.value !=null && currentNode.getDepth()>1" id="div_buttons">
            <ion-button color="nones" class="buttons_yes_no" (click)="onClickYes()">Si</ion-button> <ion-button color="nones" class="buttons_yes_no" (click)="onClickNo()">No</ion-button>  
          </div>
              </ion-card-content>
      </ion-card>
    </div>
    
    <div class="div-in-line">
      <ion-img class="shadow-custom" id="img-custom" src="../../../assets/img/printer.jpeg"></ion-img>
    </div>
  </div>
  
    

</ion-content>
